
body {
    margin: 0;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
    width: 0;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-fit {
    width: min(1200px, 90vw);
    margin: auto;
    min-height: 100vh;
    position: relative;
    padding-block: 10em;
}


#container3D {
    position: fixed;
    inset: 0;
    /* background-color: red; */
    z-index: 100;
    pointer-events: none;
}
@media screen and (max-width: 1023px){
    #banner .title {
        font-size: 5em;
    }
    #intro .content-fit {
        flex-direction: column;
    }
}
@media screen and (max-width: 767px){
    #banner .title {
        font-size: 3em;
    }
    #intro .content-fit {
        flex-direction: column;
    }
    .section .number {
        font-size: 5em;
    }
    .section .content-fit .title {
        font-size: 2em;
    }
    #description .content-fit {
        padding-right: 0;
    }
    #contact table {
        font-size: 1em;
    }
    #contact .sign {
        font-size: 2em;
    }
    #container3D {
        position: absolute;
    }
}